body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    margin: 0;
    padding: 0;
}

/* index.html */
.background img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}

.header {
    color: rgb(95, 54, 4);
}

.converter {
    margin-top: 8%;
    width: 75%;
    margin-left: 7%;
    /* background-color: rgba(185, 185, 185, 0.849); */
    background: linear-gradient(to top right, rgba(185, 185, 185, 0.849), rgba(252, 252, 111, 0.808) );
    padding: 30px;
    border-radius: 8px;
    padding-bottom: 100px;
}

#output {
    padding: 3px;
    border-radius: 3px;
    border-color: black;
    background-color: #fae98cc2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

#output p {
    color: red;
}

.btn-fancy {
    background: linear-gradient(to right, brown, yellow);
    color: black;
}

